<header
    class="flex items-center justify-between p-4 bg-violet-50/80 backdrop-blur-sm border-b border-violet-100 shadow-sm">
    <span routerLink="/"
        class="text-xl font-semibold text-violet-600 tracking-tight cursor-pointer hover:text-violet-700 transition-colors">InvoiX</span>
    <nav>
        <ul class="flex gap-8">
            <li routerLink="/factures"
                class="text-slate-500 font-medium cursor-pointer hover:text-violet-600 transition-colors">Factures</li>
            <li routerLink="/produits"
                class="text-slate-500 font-medium cursor-pointer hover:text-violet-600 transition-colors">Produits</li>
            <li routerLink="/clients"
                class="text-slate-500 font-medium cursor-pointer hover:text-violet-600 transition-colors">Clients</li>
        </ul>
    </nav>
</header>